@media (max-width:990px) {
    .home-slider-container{
        position: absolute;
        padding: 0;
    }
    .home-slider-container::before{
        background: rgba(0, 0, 0, 0.5);
    }
    .slider-text{
        margin: 0;
        top: 45%;
    }
    .slider-text h1{
        color: white !important;
    }
    .about-img{
        height: 300px;
        margin-bottom: 30px;
    }
    .nav-dropdown-menu{
        opacity: 1;
        position: relative;
    }
    .flower-left,.flower-right{
        display: none;
    }
    
    #gallery-modal {
        padding: 100px 200px;
    }
}

@media (max-width:767px) {
    #gallery-modal{
        padding: 100px;
    }
    .slider-text{
        top: 80px;
    }
    .slider-text h1{
        font-size: 44px;
        font-weight: 700;
    }
    .songs p{
        font-size: 18px;
    }
    .sing{
        height: 150px;
    }
    #prev-img{
        left: 2%;
    }
    #next-img{
        right: 2%;
    }
    .gallery-thumbnail {
        height: 250px;
    }
    #close{
        top: 10px;
        right: 10px;
    }
}
@media (max-width:576px) {
    .blog{
        background-image: none;
    }
    .slider-text{
        top: 100px;
    }
    .slider-text h1{
        font-size: 32px;
        font-weight: 500;
    }
    .president-badge{
        transform: translate(-51%,-50%);
        height: 500px;
        width: 500px;
    }
    .img-frame{
        transform: translate(-61%,-69%);
    }
    .president-intro{
        left: 10%;
    }
    .president-img{
        overflow: hidden;
    }
    #gallery-modal img{
        width: 100%;
    }
    #gallery-modal {
        padding: 100px 0;
    }
}
